@font-face {
    font-family: comic;
    src: url('img/bold.otf');
}

abbr { font-family: sans-serif; }

body {
    font-family: sans-serif;
}

h2, h3 { font-family: comic; display: inline; }
h2:hover, h3:hover {
    text-decoration: underline;
}

div .box {
    font-family: comic;
    background: linear-gradient(to bottom right, #ffffff, #aaaaaa) fixed;
    padding: 15px;
    margin: 15px;
    border: 4px solid #2e6d2f;
    border-radius: 8px;
}
div .box:empty {
    display:none;
}

div .button {
    padding: 5px;
    display: inline;
    font-family: comic;
//    width: 75%;
    border: 2px solid #000000;
    border-radius: 16px;
    color: #ffffff;
    background: linear-gradient(to bottom right, #00aa00, #005500);
}

#footer {
    position: fixed;
    bottom: 0;
}
